/* default light mode */
:root {
  --color-text: #111;
  --color-text-2: #444;
  --color-text-inv: #e3e3e3;
  --color-hl: #008703;
  --color-border: #ccc;
  --color-bg: #eee;
  --color-bg-2: #fff;
  --color-bg-3: #eee;
  --color-bg-inv: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e3e3e3;
    --color-text-2: #aaa;
    --color-text-inv: #000;
    --color-hl: #55D255;
    --color-border: #484848;
    --color-bg: #111;
    --color-bg-2: #222;
    --color-bg-3: #383838;
    --color-bg-inv: #ddd;
  }
}

html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

#wrap-header {
  border-bottom: 1px solid var(--color-hl);
  /*margin-top: 0.5rem;*/
}

#wrap-header h1 {
  margin: 0 0 4px;
  padding: 0 8px .5rem;
}

#wrap-body {
  padding: 0 8px;
}

a {
  color: var(--color-hl);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

p {
  line-height: 1.5;
}
p:last-child {
  margin-bottom: 0;
}
