@media (prefers-color-scheme: light) {
  html {
    --color-text: #111;
    --color-text-2: #888;
    --color-text-inv: #fff;
    --color-link: #1B9B1B;
    --color-link-inv: #fff;
    --color-border: #ddd;
    --color-bg: #eee;
    --color-bg-2: #fff;
    --color-bg-3: #ddd;
    --color-bg-inv: #555;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --color-text: #e3e3e3;
    --color-text-2: #aaa;
    --color-text-inv: #000;
    --color-link: #55D255;
    --color-link-inv: #000;
    --color-border: #444;
    --color-bg: #111;
    --color-bg-2: #222;
    --color-bg-3: #282828;
    --color-bg-inv: #ddd;
  }
}

html {
  font-family: system-ui, -apple-system, Segue UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

#wrap-header {
  border-bottom: 1px solid var(--color-link);
  /*margin-top: 0.5rem;*/
}

#wrap-header h1 {
  margin: 0 0 4px;
  padding: 0 8px;
}

#wrap-body {
  padding: 0 8px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
